<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.220725.3035720" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.220725.3034302" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.220728.133455" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.220728.135041" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.220725.44007" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.220727.162957" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.220728.134352" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.220728.133856" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220728.140110" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
</packages>